In [13]:
import pandas as pd
import csv

file_path = r"C:\Users\victo\Downloads\Trafo_225_kVA.csv"

# Open the file using the 'utf-8' encoding
with open(file_path, 'r', encoding='utf-8', errors='ignore') as file:
    # Create a CSV reader with error handling
    csv_reader = csv.reader(file)

    # Create an empty list to hold the rows
    rows = []

    # Iterate through the rows in the CSV file
    for row in csv_reader:
        rows.append(row)

# Convert the list of rows to a DataFrame
df = pd.DataFrame(rows)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,time;V avg [V];Van [V];Vbn [V];Vcn [V];I avg [...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,15/03/2019 09:50;211,36;210,45;212,37;211,26;32,9;24,06;21,82;52,81;366,09;365,...,06;5777,37;455419,1;2245,49;2052,78;106331,1;2245,49;2052,78;106331,1;0;0;0,None
2,15/03/2019 09:51;211,41;210,35;212,4;211,47;29,23;24,1;21,72;41,87;366,17;365,...,6;7232,95;5777,37;455419,1;2707,11;2052,78;106331,1;2707,11;2052,78;106331,1;0;0;0
3,15/03/2019 09:52;211,34;210,28;212,35;211,38;30,99;28,4;21,8;42,78;366,04;365,...,6;8445,37;5777,37;455419,1;3162,61;2052,78;106331,1;3162,61;2052,78;106331,1;0;0;0
4,15/03/2019 09:53;211,97;210,88;213;212,04;30,19;24,16;22,65;43,74;367,14;366,59;369,...,37;455419,1;3605,45;2052,78;106331,1;3605,45;2052,78;106331,1;0;0;0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,18/03/2019 09:49;212,98;212,32;213,95;212,67;31,35;21,23;29,44;43,38;368,88;369,...,1;1999,42;5032,75;106331,1;1999,42;5032,75;106331,1;0;0;0,None,None,None
4320,18/03/2019 09:50;212,9;212,2;213,95;212,55;30,59;21,96;26,64;43,17;368,75;369,...,6;6517,66;15370,66;455419,1;2520,57;5032,75;106331,1;2520,57;5032,75;106331,1;0;0;0
4321,18/03/2019 09:51;213,04;212,31;214,05;212,75;31,23;22,99;28,55;42,14;368,99;369,...,6;7756,43;15370,66;455419,1;3039,99;5032,75;106331,1;3039,99;5032,75;106331,1;0;0;0
4322,18/03/2019 09:52;213,08;212,2;213,99;213,06;25,24;22,14;28,97;24,61;369,07;369,...,1;3479,8;5032,75;106331,1;3479,8;5032,75;106331,1;0;0;0,None,None,None
4323,18/03/2019 09:53;213,28;212,44;214,19;213,22;25,7;22,12;31,13;23,86;369,42;369,...,6;9929,41;15370,66;455419,1;3832,47;5032,75;106331,1;3832,47;5032,75;106331,1;0;0;0